body{
  background-color: cadetblue;
  position: absolute;
  top: 40%;
  bottom: 50%;
  left: 37%;
  text-align: center;
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#start, #pause, #reset{
  font-size: large;
  border-radius: 5px;
}